[Version]
Signature="$Windows NT$"
[PolicyStatementExtension]
Policies=InternalPolicy
[InternalPolicy]
OID= 1.2.3.4.1455.67.89.5
Notice="Legal Policy Statement"
URL=http://pki.{{ windows_domain_controller_info['dns_domain_name'] }}/pki/cps.txt
[Certsrv_Server]
RenewalKeyLength=2048
RenewalValidityPeriod=Years
RenewalValidityPeriodUnits=5
LoadDefaultTemplates=0
AlternateSignatureAlgorithm=0
CRLPeriod=Days
CRLPeriodUnits=2
CRLDeltaPeriod=Hours
CRLDeltaPeriodUnits=4
ClockSkewMinutes=20
AlternateSignatureAlgorithm=0
ForceUTF8=0
EnableKeyCounting=0
[BasicConstraintsExtension]
Pathlength = 1
Critical = true
[CRLDistributionPoint]
Empty=True
[AuthorityInformationAccess]
Empty=True