#!/usr/bin/bash
source scl_source enable rh-python36

cd /etc/syslog-ng
gomplate $(find . -name *.tmpl | sed -E 's/^(\/.*\/)*(.*)\..*$/--file=\2.tmpl --out=\2/') --template t=go_templates/

mkdir -p /etc/syslog-ng/conf.d/local/context/
mkdir -p /etc/syslog-ng/conf.d/local/config/
cp /etc/syslog-ng/context_templates/* /etc/syslog-ng/conf.d/local/context/
for file in /etc/syslog-ng/conf.d/local/context/*.example ; do cp -v -n $file ${file%.example}; done
cp -f -v -R /etc/syslog-ng/local_config/* /etc/syslog-ng/conf.d/local/config/